.country-information {
    display: flex;
    justify-content: space-between;
}

body {
   background-image: url(https://i.fbcd.co/products/resized/resized-750-500/38143a8506d854857b8178c3767368f8b0c394926ee568e3e725bd8c0a6f5556.jpg);
   ;
   background-size: 100vw;
}


.hyper-link {
    
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    border: dotted 1px black;  
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}
.column1{
    background: white;
    font-size: .8em;
    overflow: auto;
    flex-wrap: wrap;
    border: dotted 1px black;
    flex-basis: 20%;
    padding: 1em;
}
.column2{
    background: white;
    font-size: .8em;
    overflow: auto;
    flex-wrap: wrap;
    border: dotted 1px black;
    flex-basis: 20%;
    padding: 1em;
}
.column3{
    background: white;
    font-size: .8em;
    overflow: auto;
    flex-wrap: wrap;
    border: dotted 1px black;
    flex-basis: 20%;
    padding: 1em;
}
.column4{
    background: white;
    font-size: .8em;
    overflow: auto;
    flex-wrap: wrap;
    border: dotted 1px black;
    flex-basis: 20%;
    padding: 1em;
}

.img{
    width: 15vw;
}
